/* src/pages/LandingPage.css */

.landing-container {
  /* --- MUDANÇA AQUI --- */
  /* Removemos a margem negativa que não é mais necessária */
  /* margin: -1rem; (REMOVIDO) */ 
  /* --- FIM DA MUDANÇA --- */

  /* Calcula a altura total da tela MENOS a altura do navbar (aprox. 70px) */
  height: calc(100vh - 70px); 
  background-color: var(--color-primary-dark); /* Cor bordô escura */
  color: var(--color-text-light);

  /* Centraliza tudo (sem mudança) */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.landing-brand-logo {
  width: 450px; 
  height: auto; 
  margin-bottom: 3rem; 
}


.landing-button {
  background-color: var(--color-text-light);
  color: var(--color-primary-dark);
  font-size: 1.2rem;
  padding: 15px 30px;
  text-decoration: none;
  border-radius: 10px;
  font-weight: 600;
  transition: all 0.3s;
}

.landing-button:hover {
  background-color: var(--color-accent);
  color: var(--color-text-dark); 
  transform: scale(1.05);
}