/* src/pages/LandingPage.css */

.landing-container {
  /* O 'Layout.jsx' tem um padding, vamos removê-lo só nesta página */
  margin: -1rem; /* Anula o padding do <main> no Layout.jsx */

  /* Calcula a altura total da tela MENOS a altura do navbar (aprox. 70px) */
  height: calc(100vh - 70px); 
  background-color: var(--color-primary-dark);
  color: var(--color-text-light);

  /* Centraliza tudo */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}


.landing-logo {
  font-size: 8rem;
  font-weight: 100;
  margin-bottom: -1rem;
}

.landing-title {
  font-family: 'Poppins', sans-serif;
  font-size: 6rem;
  font-weight: 700;
}


/* ADICIONE esta nova regra para o seu logo de imagem */
.landing-brand-logo {
  width: 450px; /* Ajuste este valor para o tamanho desejado */
  height: auto; /* Mantém a proporção da imagem */
  margin-bottom: 3rem; /* Espaçamento entre o logo e o botão */
}


.landing-button {
  background-color: var(--color-text-light);
  color: var(--color-primary-dark);
  font-size: 1.2rem;
  padding: 15px 30px;
  text-decoration: none;
  border-radius: 10px;
  font-weight: 600;
  /* margin-top: 2rem; REMOVIDO, pois o margin-bottom do logo já faz o espaçamento */
  transition: all 0.3s;
}

.landing-button:hover {
  background-color: var(--color-accent);
  color: var(--color-text-light);
  transform: scale(1.05);
}