/* src/components/Navbar.css */

.navbar {
  background-color: var(--color-primary-dark);
  color: var(--color-text-light);
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-links-left,
.navbar-links-right {
  display: flex;
  align-items: center;
  gap: 1.5rem; /* Espaçamento entre os links */
}

.navbar a {
  color: var(--color-text-light);
  text-decoration: none;
  font-weight: 600;
  font-size: 0.9rem;
  transition: color 0.2s;
}

/* Link "UaiFood" principal */
.navbar-brand {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--color-text-light) !important;
}

.navbar a:hover {
  color: var(--color-accent);
}

.navbar span {
  font-size: 0.9rem;
}

/* Botão de Logout */
.navbar button {
  background-color: var(--color-accent);
  font-size: 0.9rem;
  padding: 8px 12px;
}

.navbar button:hover {
  background-color: var(--color-text-light);
  color: var(--color-primary-dark);
}